.navbar{
    display:flex;
    align-items:center;
    justify-content:space-between;
    padding:15px 40px;
    background:#111;
    position:sticky;
    top:0;
    z-index:1000;
}

.logo{
    font-size:24px;
    color:#ff3c3c;
    font-weight:bold;
}

.nav-links{
    display:flex;
    gap:20px;
    list-style:none;
}

.nav-links a{
    text-decoration:none;
    color:white;
    transition:0.3s;
}

.nav-links a:hover{
    color:#ff3c3c;
}

.search-input{
    padding:6px 12px;
    border:none;
    border-radius:20px;
    outline:none;
    background:#222;
    color:white;
}

.hero{
    height:80vh;
    background:linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)),
    url("https://images.unsplash.com/photo-1523275335684-37898b6baf30?q=80&w=1200")
    center/cover no-repeat;

    display:flex;
    align-items:center;
    padding-left:60px;
}

.hero-content{
    max-width:500px;
}

.hero h1{
    font-size:50px;
    margin-bottom:15px;
}

.hero p{
    font-size:16px;
    margin-bottom:20px;
    color:#ddd;
}

.btn{
    padding:10px 20px;
    border:none;
    cursor:pointer;
    margin-right:10px;
    border-radius:5px;
    background:#e50914;
    color:white;
}

.btn-secondary{
    background:#333;
}